<app-menu> </app-menu>

<main class="cards-container">
  <div class="card">
    <div class="card-content">
      <h2>Agregar</h2>
    </div>
    <button [routerLink]="['/agregar']" class="card-button">ir</button>
  </div>

  <div class="card">
    <div class="card-content">
      <h2>Actualizar</h2>
    </div>
    <button [routerLink]="['/agregar']" class="card-button">ir</button>
  </div>

  <div class="card">
    <div class="card-content">
      <h2>Eliminar</h2>
    </div>
    <button [routerLink]="['/eliminar']" class="card-button">ir</button>
  </div>
</main>